div.TextDisplay {
	border: 1px solid grey;
	display: inline-block;
	width: 6rem;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 0.8rem;
	
	div.on {
		color: black;
		background-color: red;
	}
	
	div.off {
		color: grey;
		background-color: lightgrey;
	}
}
